{% extends 'base.html.twig' %}

{% block title %}Facture {{ invoice.number }}{% endblock %}

{% block body %}
  <div class="min-h-screen bg-gray-50 p-8">
    <div class="mx-auto" style="max-width:900px;">
      <a href="{{ path('app_invoices') }}" class="text-sm text-gray-500 inline-flex items-center">← Retour</a>
      <turbo-frame id="invoice-{{ invoice.id }}">
        {% include 'invoice/_card.html.twig' %}
      </turbo-frame>
    </div>
  </div>
{% endblock %}
