
APP_ENV=dev
APP_SECRET=

DEFAULT_URI=http://localhost

DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN=

###> sensiolabs/gotenberg-bundle ###
GOTENBERG_DSN=http://gotenberg:3000
###< sensiolabs/gotenberg-bundle ###
